@model FrenteServico


<div class="row bg-secondary text-center py-3 mt-4 mb-3 text-light">
    <div class="col-12">
        <h2>Edição de Frente de Serviços</h2>
    </div>
</div>

@if (ViewBag.ErrorSenha == true)
{
    <div class="row my-3 text-center">
        <div class="col-12">
            <div class="alert alert-danger">
                <h5>SENHA INVÁLIDA ⛔</h5>
            </div>
        </div>
    </div>
}


<form asp-action="Edit" asp-controller="FrenteServicos" method="post">

    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <div class="form-group">
        <label>Nome</label>
        <input asp-for="Nome" class="form-control"/>
    </div>


    <div class="row my-3">
        <div class="col-12 col-md-4 m-auto">
            <h4 class="text-danger text-center">Informe a senha</h4>
            <input type="password" value="" name="senha" class="form-control m-auto" id="senha" required style="font-size:2em;height:35px;text-align:center;" />
        </div>
    </div>


    <div class="form-group my-3">
        <input type="submit" value="Editar" class="btn btn-success" />
        <a asp-action="Index" asp-controller="FrenteServicos" class="btn btn-primary">Voltar</a>
    </div>
</form>