@{
    ViewData["Title"] = "Página Inicial";
}

<div class="row bg-secondary py-3 text-light fw-bold">
    <div class="col-12 text-center">
        <h1 class="fw-light">CONTROLE DE ESTOQUE 📦</h1>
        <hr />
        <h5>Passo a passo para utilização do sistema</h5>
        <h3 class="mt-3">⬇️</h3>
    </div>
</div>

<div class="row mt-3 mb-3 bg-success text-light py-3 fw-bold">
    <div class="col-12 text-center">
        <p><span style="font-size:1.4em">1°</span> Adicione os produtos</p>
        <p><span style="font-size:1.4em">2°</span>  Após adicionar os produtos, você poderá adicionar itens no estoque, informando sua quantidade inicial</p>
        <p><span style="font-size:1.4em">3°</span>  Adicione movimentações para o produto desejado, o estoque será atualizado automaticamente</p>
    </div>
</div>

<div class="row bg-danger text-light py-3 fw-bold">
    <div class="col-12 text-center">
       <h4>Atenção!!!</h4>
        <p>Os produtos só iram aparecer para criar movimentações, caso tenham sido adicionados ao estoque</p>
    </div>
</div>